<ion-view view-title="TecHeart">
    <ion-content class="padding">
    <a class="card" href="#/tab/products/{{product.id}}" style="text-decoration: none;">
    {{console.log(product.id)}}
    	<div class="item item-text-wrap">
		    <img ng-src="{{product.photo}}" style="width: 100%">
		    <h1 class='dark'>
		      {{product.name}}
		    </h1>
		    <h2 class='dark'>
			      {{product.description}}
			  </h2>
		    	<div class="row">
					<div class="col col-50 text-center" >
						<a class="button button-icon icon ion-close-circled assertive" ng-click="dislike(product.id)"></a>
					</div>
					<div class="col col-50 text-center" >
						<a class="button button-icon icon ion-heart balanced" ng-click="like(product.id)"></a>
					</div>
				</div>
		    </p>
		 </div>
	</a>
  </ion-content>
</ion-view>
